body {
  display: flex;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}
nav {
  width: 25dvw;
  display: flex;
  gap: 5px;
  flex-direction: column;
  padding: 10px;
  background-color: var(--bg-0);
  box-sizing: border-box;
}
nav a {
  display: flex;
  align-items: center;
  color: var(--text-1);
}
main {
  width: 75dvw;
  padding: 5px;
  overflow: auto;
  box-sizing: border-box;
}
[data-page="glyphs"] > div:has(h2) {
  display: flex;
}
[data-page="glyphs"] > div:has(h2) h2 {
  flex: 1;
}
.list {
  display: flex;
  flex-wrap: wrap;
}
.list div {
  padding: 5px;
  border-radius: 0.5rem;
  background-color: var(--bg-2);
}
